<!DOCTYPE html>
<html lang="en">
        {% include 'head.html' %}

    <body>
        <div class="container">
            <div class="row">
                <h1 class="display-4">Encoded!</h1>
            </div>
            <hr>
            <div>
                <img src="{{path}}">
            </div>
            <hr>            
            <div class="form-group">
                <textarea class="form-control" disabled rows="10" cols="50">{{key}}</textarea>
            </div>
        </div>
        

        {% include 'scripts.html' %}        
    </body>
</html>